#board {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 500px !important;
    }
    .carousel-control {
      background: none;
    }
    .carousel-indicators {
      display: none;
    }
    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
  }

  .comment {
    width: 600px;
    border: solid black 1px;
  }

  .nested {
    width: 600px;
    border: solid black 1px;
    padding-left: 20px;
  }

  .reply:focus {
    outline: none;
  }

  .reply {
    width: 100%;
    border: none;
    resize: none;
    height: 80px;
  }

  * {
    word-wrap: break-word;
  }

  .postcontent {
    width: 93%;
    padding-left: 10px;
    min-height: 42px;
  }

  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
      z-index: 2;
      color: #fff;
      background-color: #777;
      border-color: #000;
  }

  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: GhostWhite;
    border-color: #000;
  }
 
  .pagination > li > a,
  .pagination > li > span {
    z-index: 2;
    color: #23527c;
    background-color: #555;
    border-color: #000;
  }

  button:focus {
    outline: none;
  }

  .btn-default {
    background: #ddd;
    background-color: #ddd;
    border-color: #ddd
  }

  .btn-default:focus {
    color: #333;
    background-color: #ddd;
    border-color: #ddd;
  }

  .btn-default:hover {
    color: #333;
    background-color: #777;
    border-color: #777;
  }

  .rs {
    /* background-color: #D9EDF7; */
    /* background-color: #E5EFF8; */
    background-color: #777;
    border: #333;
  }

  .bh {
    color: #333;
    background-color: #777;
    border-color: #777;
  }

  .somerep {
    padding: 0px 15px;
    background: #333;
    color: white;
    border: #333;
  }

  /*
  .somerep {
    padding: 0px 15px;
    background: LightSteelBlue;
    border: #ddd;
  }
  */

}
