@import "logo";
@import "navbar";
.downvote {
    margin-top: -8px;
    margin-bottom: -10px;
    padding-left: 8px;
    padding-right: 0px;
    width: 24px;
}

.w20 {
    width: 20px;
}

.up {
    color: LightSteelBlue;
}

.down {
    color: Crimson;
}

.centervote {
    text-align: center;
    display: table-cell;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  /* outline: 5px auto -webkit-focus-ring-color; */
  outline: 2px auto LightSteelBlue;
  outline-offset: -2px;
}

.highlight:hover {
    background-color: #333;
}
