* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 0px;
    margin: 0 auto;
}

.reply {
    width: 100%;
    border: none;
    resize: none;
    height: 80px;
}

.reply:focus {
    outline: none;
}

.rs {
    /* background-color: #D9EDF7; */
    background-color: #E5EFF8;
}

.pmheader {
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 14px -3px black;
    background: LightSteelBlue;
}


@import 'directives/main';
@import 'home/main';
@import 'board/main';
@import 'tutorial/main';
@import 'login/main';